# ===== 编译产物 =====
*.exe
*.obj
*.o
*.ilk
*.pdb
*.idb
*.exp
*.lib
*.tlog
*.recipe
x64/
x86/
Debug/
Release/

# ===== IDE =====
.vs/
*.user
*.suo
*.VC.db
*.opendb

# ===== 系统文件 =====
Thumbs.db
Desktop.ini
.DS_Store